@import '../../Assets/css/common.scss';
.login-svg-img{
    color: rgb(100, 116, 139);
    opacity: .2;
}
.login-main-wrapper{
    background-color: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .login-left-section{
        width: 50%;
        height: 100%;
        background-color: $login-bg;
        background-image: url(../../Assets/images/login-bg.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        > h1{
            color: #fff;
            font-size: 16px;
            font-family: $font-medium;
            font-weight: normal;
        }
        .login-left-img{
            width: 90%;
            opacity: 0.8;
        }
        .login-left-desc{
            color: #fff;
            text-align: center;
        }
    }
    .login-right-section{
        width: 50%;
        height: 100%;
        padding: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
                 -ms-flex-direction: column;
                     flex-direction: column;
                     align-items: center;
    }
}
.login-text-box,
.login-btn{
    height: 40px !important;
    line-height: 40px !important;
}
.login-security-wrap,
.agree-text{
    .btn-link-trans{
        font-size: 15px;
        font-family: $font-medium;
    }
}
.login-box{
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}
.login-box-bottom{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 15px;
    a{
        display: inline-block;
        margin-bottom: 10px;
        font-family: 'HK Grotesk Regular',sans-serif;
        color: $dark;
    }
}
.site-version{
    position: relative;
    bottom: 0;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    font-family: $font-regular;
    &::after{
        content: "";
        width: 30px;
        height: 1px;
        background: #dcdfe5;
        display: block;
        position: absolute;
        left: 50%;
        top: 35px;
        transform: translateX(-50%);
    }
}
.dot-separator{
    position: relative;
    &::before {
    content: "";
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #dcdfe5;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    }
}
.img-logo{
    height: 50px;
    width: auto;
    align-self: flex-start;
}
.forgotpassowrd-link{
    display: inline-block;
    font-family: $font-medium;
    color: $primary;
}
.forgot-password-section{
    display: flex;
    justify-content: space-between;
}