$login-bg : #1e293b;
$bg-dark : #003145;
$dark : #001345;
$dark-hover : #011d29;
$primary : #0048ad;
$text-muted : #7988a8;
$font-regular : 'HK Grotesk Regular', sans-serif;
$font-light :  'HK Grotesk Light', sans-serif;
$font-medium : 'HK Grotesk Medium', sans-serif;
$font-semibold : 'HK Grotesk SemiBold', sans-serif;
$font-bold : 'HK Grotesk Bold', sans-serif;
$border-color: #dcdfe5;
$bg-light : #f9fafc;