

@font-face {
    font-family: 'HK Grotesk MediumItalic';
    src: url('../fonts/HKGrotesk-MediumItalic.eot');
    src: url('../fonts/HKGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-MediumItalic.woff2') format('woff2'), url('../fonts/HKGrotesk-MediumItalic.woff') format('woff'), url('../fonts/HKGrotesk-MediumItalic.ttf') format('truetype'), url('../fonts/HKGrotesk-MediumItalic.svg') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: url('../fonts/HKGrotesk-SemiBold.eot');
    src: url('../fonts/HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-SemiBold.woff2') format('woff2'), url('../fonts/HKGrotesk-SemiBold.woff') format('woff'), url('../fonts/HKGrotesk-SemiBold.ttf') format('truetype'), url('../fonts/HKGrotesk-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk LightItalic';
    src: url('../fonts/HKGrotesk-LightItalic.eot');
    src: url('../fonts/HKGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-LightItalic.woff2') format('woff2'), url('../fonts/HKGrotesk-LightItalic.woff') format('woff'), url('../fonts/HKGrotesk-LightItalic.ttf') format('truetype'), url('../fonts/HKGrotesk-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Italic';
    src: url('../fonts/HKGrotesk-Italic.eot');
    src: url('../fonts/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-Italic.woff2') format('woff2'), url('../fonts/HKGrotesk-Italic.woff') format('woff'), url('../fonts/HKGrotesk-Italic.ttf') format('truetype'), url('../fonts/HKGrotesk-Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Bold';
    src: url('../fonts/HKGrotesk-Bold.eot');
    src: url('../fonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-Bold.woff2') format('woff2'), url('../fonts/HKGrotesk-Bold.woff') format('woff'), url('../fonts/HKGrotesk-Bold.ttf') format('truetype'), url('../fonts/HKGrotesk-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk BoldItalic';
    src: url('../fonts/HKGrotesk-BoldItalic.eot');
    src: url('../fonts/HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-BoldItalic.woff2') format('woff2'), url('../fonts/HKGrotesk-BoldItalic.woff') format('woff'), url('../fonts/HKGrotesk-BoldItalic.ttf') format('truetype'), url('../fonts/HKGrotesk-BoldItalic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Regular';
    src: url('../fonts/HKGrotesk-Regular.eot');
    src: url('../fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-Regular.woff2') format('woff2'), url('../fonts/HKGrotesk-Regular.woff') format('woff'), url('../fonts/HKGrotesk-Regular.ttf') format('truetype'), url('../fonts/HKGrotesk-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Light';
    src: url('../fonts/HKGrotesk-Light.eot');
    src: url('../fonts/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-Light.woff2') format('woff2'), url('../fonts/HKGrotesk-Light.woff') format('woff'), url('../fonts/HKGrotesk-Light.ttf') format('truetype'), url('../fonts/HKGrotesk-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Medium';
    src: url('../fonts/HKGrotesk-Medium.eot');
    src: url('../fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-Medium.woff2') format('woff2'), url('../fonts/HKGrotesk-Medium.woff') format('woff'), url('../fonts/HKGrotesk-Medium.ttf') format('truetype'), url('../fonts/HKGrotesk-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg') format('svg') ;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-custom-data-parsing:before {
    content: "\e9d9";
}

.icon-clock:before, .icon-clock3:before {
    content: "\eac8";
}

.icon-add-Tag:before {
    content: "\ea91";
}

.icon-cloud-filled:before {
    content: "\eb26";
}

.icon-case:before {
    content: "\eabe";
}

.icon-help:before {
    content: "\eb0a";
}

.icon-notification:before {
    content: "\eb65";
}

.icon-menu:before {
    content: "\eb5c";
}

.icon-three-dots:before {
    content: "\eb9d";
}

.icon-speedometer:before {
    content: "\eb8e";
}

.icon-edit:before {
    content: "\eaed";
}

.icon-sampling:before {
    content: "\eb37";
}

.icon-logout:before {
    content: "\eb54";
}

.icon-check:before {
    content: "\eac3";
}

.icon-arrow-right:before {
    content: "\eaa8";
}

.icon-search:before {
    content: "\eb88";
}

.icon-delete:before, .icon-delete-doc:before {
    content: "\eadf";
    font-size: 15px;
}

.icon-arrow-left:before {
    content: "\eaa5";
}

.icon-backward:before {
    content: "\eaa4";
}

.icon-forward:before {
    content: "\eaa7";
}

.icon-arrow-down:before {
    content: "\eaa6";
}

.icon-photo:before {
    content: "\eb6d";
}

.icon-plus:before {
    content: "\eb16";
}

.icon-cancel:before {
    content: "\eab9";
}

.icon-media:before {
    content: "\eb5b";
}

.icon-download:before, .icon-download1:before {
    content: "\eb10";
}

.icon-action-download:before {
    content: "\eaeb";
}


.icon-arrow-up:before {
    content: "\eaa9";
}

.icon-upload:before {
    content: "\eb1e";
}

.icon-permission:before, .icon-dashboard:before {
    content: "\eb5a";
}

.icon-dashboard-square:before {
    content: "\ead5";
}

.icon-down-single:before {
    content: "\eaea";
}

.icon-up-single:before {
    content: "\eba4";
}

.icon-doc:before, .icon-file:before {
    content: "\eb01";
}

.icon-save:before {
    content: "\eb84";
}

.icon-duplicate-filled:before {
    content: "\eb13";
}

.icon-view:before {
    content: "\e901";
}

.icon-refresh:before {
    content: "\eb35";
    font-size: 18px;
}

.icon-setting:before, .icon-settings-cog:before {
    content: "\eb8a";
}

.icon-workflow:before {
    content: "\ebab";
}

.icon-user:before {
    content: "\eba5";
}

.icon-group:before {
    content: "\eb09";
}

.icon-list:before, .icon-list-view:before {
    content: "\eb53";
}

.icon-grid:before, .icon-grid-view:before {
    content: "\eb08";
}

.icon-page-home:before {
    content: "\ebaa";
}

.icon-viewer:before {
    content: "\eba9";
}

.icon-export:before {
    content: "\eaf9";
}

.icon-eye-off:before {
    content: "\eafa";
}

.icon-filter-filled:before {
    content: "\eacf";
}

.icon-email-threading:before, .icon-email-temp:before, .icon-email1:before {
    content: "\eaef";
}

.icon-email-thread-fill:before, .icon-email-temp-filled:before, .icon-email1-filled:before {
    content: "\eaf3";
}

.icon-technology:before {
    content: "\eb99";
}

.icon-calender:before, .icon-calendar:before {
    content: "\eb11";
}

.icon-case-assist:before, .icon-caseassist:before {
    content: "\eabd";
}

.icon-unlock-filled:before {
    content: "\eac1";
}

.icon-unlock:before {
    content: "\eac2";
}

.icon-action:before {
    content: "\ea8e";
}

.icon-pie:before {
    content: "\eb33";
}

.icon-group-filled:before, .icon-filled-group:before {
    content: "\eb02";
}


.icon-down:before {
    content: "\eae9";
}

.icon-up:before {
    content: "\eba3";
}

.icon-option:before {
    content: "\eb31";
    font-size: 16px;
}

.icon-pdf:before {
    content: "\eb32";
}

.icon-share:before {
    content: "\eb8b";
}

.icon-user-filled:before {
    content: "\eba6";
}

.icon-magic-wand:before {
    content: "\eb56";
}

.icon-filled-doc:before, .icon-file-filled:before {
    content: "\eb00";
}

.icon-expand-left:before {
    content: "\eaf8";
}

.icon-circle-filled:before {
    content: "\eac6";
}

.icon-lock:before {
    content: "\eac2";
}

.icon-expand-right:before {
    content: "\eaf7";
}

.icon-custom-synonyms:before {
    content: "\eb83";
}

.icon-caret-left:before {
    content: "\eaba";
}

.icon-caret-right:before {
    content: "\eabb";
}

.icon-edit1:before {
    content: "\eb14";
}

.icon-duplicate:before, .icon-copy:before {
    content: "\eb12";
}

.icon-checked:before, .icon-active:before {
    content: "\eac4";
}

.icon-assign-field-value:before {
    content: "\eaae";
}

.icon-reorder:before, .icon-sorting:before {
    content: "\eb15";
}

.icon-mass-update:before {
    content: "\eb80";
}

.icon-import:before {
    content: "\eb44";
}

.icon-bulk-export:before {
    content: "\eab6";
}


.icon-excel:before {
    content: "\eaf4";
}

.icon-history:before {
    content: "\eb0e";
}

.icon-curl-brac:before {
    content: "\ead1";
}

.icon-case-assist-filled:before {
    content: "\eabc";
}

.icon-topics:before {
    content: "\e957";
}

.icon-topics-filled:before {
    content: "\e956";
}

.icon-dot_bg:before {
    content: "\e900";
}

.icon-document-restore:before {
    content: "\eae4";
}

.icon-document-categories:before {
    content: "\eae3";
}

.icon-like:before {
    content: "\eb52";
}

.icon-dislike:before {
    content: "\eae0";
}

.icon-cluster-document:before {
    content: "\eacc";
}

.icon-tar:before {
    content: "\eb98";
}

.icon-tar-filled:before {
    content: "\eb97";
}

.icon-minus:before {
    content: "\e95a";
}

.icon-record-history:before {
    content: "\eb78";
}

.icon-facet-search:before {
    content: "\eafc";
}

.icon-save-serach-profile:before {
    content: "\eb85";
}

.icon-double-arrow-left:before {
    content: "\eae7";
}

.icon-attach:before {
    content: "\eab3";
}

.icon-double-arrow-right:before {
    content: "\eae8";
}

.icon-add:before {
    content: "\ea90";
}

.icon-mobile:before {
    content: "\eb6c";
}

.icon-open-mail:before {
    content: "\e95b";
}

.icon-warning:before {
    content: "\e959";
}

.icon-send-mail:before {
    content: "\eb89";
}

.icon-annotationsetting:before {
    content: "\ea9e";
}

.icon-pagesetting:before {
    content: "\eb67";
}

.icon-doc-no-tagged:before {
    content: "\eae1";
}

.icon-doc-withfamily:before {
    content: "\eae5";
}

.icon-text-search:before {
    content: "\eba2";
}

.icon-pause:before {
    content: "\eb6b";
}

.icon-resume:before {
    content: "\eb7e";
}

.icon-clone-window:before {
    content: "\eacb";
}

.icon-original-batch:before {
    content: "\eb66";
}

.icon-important:before {
    content: "\eb45";
}

.icon-important-fill:before {
    content: "\eb46";
}

.icon-assign-folders:before {
    content: "\eaaf";
}

.icon-application:before {
    content: "\eaac";
}

.icon-workspace:before {
    content: "\eaad";
}

.icon-clone-plus:before {
    content: "\eaca";
}

.icon-deactive:before {
    content: "\eb47";
}

.icon-deactive-dual-auth:before {
    content: "\eadd";
}

.icon-active-dual-auth:before {
    content: "\ea8f";
}

.icon-register:before, .icon-register-service:before {
    content: "\eb36";
}

.icon-alphabetical-order-up:before {
    content: "\ea9b";
}

.icon-near-similar-filled:before, .icon-similar-filled:before {
    content: "\eb60";
}

.icon-near-similar:before, .icon-similar:before, .icon-action-similarity:before {
    content: "\eb5f";
}

.icon-production:before {
    content: "\eb74";
}

.icon-production-filled:before {
    content: "\eb75";
}

.icon-alphabetical-order-down:before {
    content: "\eb8d";
}

.icon-clean:before {
    content: "\eac7";
}

.icon-error-fill:before {
    content: "\eaf2";
}

.icon-curved-arrow:before {
    content: "\ead2";
}

.icon-analytic-filled:before, .icon-analytic2-filled:before {
    content: "\ea9d";
}

.icon-analytic:before, .icon-analytic2:before {
    content: "\ea9c";
}

.icon-batches-filled:before, .icon-batches2-filled:before {
    content: "\eab5";
}

.icon-batches:before, .icon-batches2:before, .icon-action-batch:before {
    content: "\eab4";
}

.icon-expand:before {
    content: "\eaf6";
}

.icon-collapse:before {
    content: "\eacd";
}

.icon-share-not:before, .icon-share-note:before {
    content: "\eaaa";
}

.icon-assign-issue:before {
    content: "\eab0";
}

.icon-ascending:before {
    content: "\eba4";
}

.icon-database-filled:before {
    content: "\eada";
}

.icon-database:before {
    content: "\ead9";
}

.icon-datasite-filled:before, .icon-dataset-filled:before {
    content: "\eadc";
}

.icon-datasite:before, .icon-dataset:before {
    content: "\eadb";
}

.icon-descending:before {
    content: "\eaea";
}

.icon-error:before {
    content: "\eaf1";
}

.icon-app-menu:before {
    content: "\ea9f";
}

.icon-assign-tags:before {
    content: "\eab1";
}

.icon-bulk-reduction:before {
    content: "\eab7";
}

.icon-index-data-filled:before {
    content: "\eb49";
}

.icon-index-data:before {
    content: "\eb48";
}

.icon-print-download:before {
    content: "\eb6f";
}

.icon-print:before {
    content: "\eb70";
}

.icon-arrowall:before {
    content: "\eaa3";
}

.icon-fitwidth:before {
    content: "\eb04";
}

.icon-show:before {
    content: "\eb0b";
}

.icon-bulk-search:before {
    content: "\eab8";
}

.icon-next-page:before {
    content: "\eb61";
}

.icon-redact:before {
    content: "\eb79";
}

.icon-assign-user:before {
    content: "\eab2";
}

.icon-rotate-left:before {
    content: "\eb81";
}

.icon-rotate-right:before {
    content: "\eb82";
}

.icon-text:before {
    content: "\eb9a";
}

.icon-stamp:before {
    content: "\eb90";
}

.icon-zoom-in:before {
    content: "\ebac";
}

.icon-zoom-Out:before {
    content: "\ebad";
}

.icon-add-note:before {
    content: "\eaa0";
}

.icon-reload-page:before {
    content: "\eb7c";
}

.icon-notes-fill:before {
    content: "\eb62";
}

.icon-clone:before {
    content: "\eac9";
}

.icon-redaction-location:before {
    content: "\eb7b";
}

.icon-full-redaction:before {
    content: "\eb7a";
}

.icon-inverse-redaction:before {
    content: "\eb4d";
}

.icon-highlight:before {
    content: "\eb0c";
}

.icon-face-redaction:before {
    content: "\eafb";
}

.icon-fit-height:before {
    content: "\eb03";
}

.icon-align-center-bottom:before {
    content: "\ea92";
}

.icon-align-center-middle:before {
    content: "\ea93";
}

.icon-align-center-top:before {
    content: "\ea94";
}

.icon-align-left-bottom:before {
    content: "\ea95";
}

.icon-align-left-middle:before {
    content: "\ea96";
}

.icon-align-left-top:before {
    content: "\ea97";
}

.icon-align-right-bottom:before {
    content: "\ea98";
}

.icon-funnel:before, .icon-filter:before {
    content: "\eace";
}

.icon-align-right-middle:before {
    content: "\ea99";
}

.icon-align-right-top:before {
    content: "\ea9a";
}

.icon-text-minus:before {
    content: "\eb9b";
}

.icon-text-plus:before {
    content: "\eb9c";
}

.icon-create-export:before {
    content: "\ead0";
}

.icon-dedup:before {
    content: "\eade";
}

.icon-email-fill:before {
    content: "\eaf0";
}

.icon-email:before {
    content: "\eaee";
}

.icon-folder-filled:before, .icon-folder1-filled:before {
    content: "\eb06";
}

.icon-folder:before, .icon-folder1:before {
    content: "\eb05";
}

.icon-history-filled:before {
    content: "\eb0f";
}


.icon-indexing-filled:before {
    content: "\eb4b";
}

.icon-indexing:before, .icon-action-indexing:before {
    content: "\eb4a";
}

.icon-file-identification:before {
    content: "\eaff";
}

.icon-note-fill:before {
    content: "\eb64";
}

.icon-note:before {
    content: "\eb63";
}

.icon-processing-filled:before {
    content: "\eb72";
}

.icon-processing:before {
    content: "\eb34";
}

.icon-highlight-terms:before {
    content: "\eb0d";
}

.icon-search-history:before, .icon-refine-search:before {
    content: "\eb86";
}

.icon-search-history-filled:before, .icon-refine-search-filled:before {
    content: "\eb87";
}

.icon-tag-filled:before {
    content: "\eb96";
}

.icon-tag:before, .icon-no-tags:before {
    content: "\eb95";
}

.icon-dynamic-tar:before, .icon-action-tar:before {
    content: "\eb24";
}

.icon-manage-exception:before {
    content: "\eb58";
}

.icon-manage-field:before {
    content: "\eb59";
}

.icon-cloud:before {
    content: "\eb29";
}

.icon-printing-export:before {
    content: "\eb71";
}

.icon-result-grid:before {
    content: "\eb7d";
}

.icon-similarity-search:before {
    content: "\eb8c";
}

.icon-summary:before {
    content: "\eb94";
}

.icon-summary-filled:before {
    content: "\eb93";
}

.icon-star:before {
    content: "\eb91";
}

.icon-workproduct-filled:before {
    content: "\eac0";
}

.icon-workproduct:before {
    content: "\eabf";
}

.icon-star-nil:before, .icon-star-unfill:before {
    content: "\eb92";
}

.icon-transfer:before {
    content: "\eba0";
}

.icon-ui-setting:before {
    content: "\eba1";
}

.icon-folder-history:before {
    content: "\eb07";
}

.icon-accepted:before {
    content: "\ebaf";
}

.icon-search-inclusive-mail:before {
    content: "\e9a9";
}

.icon-completed:before {
    content: "\eac5";
}

.icon-warning-sign-filled:before {
    content: "\eb51";
}

.icon-warning-sign:before {
    content: "\eb4e";
}

.icon-zoom-reset:before {
    content: "\ebae";
}

.icon-issue-filled:before {
    content: "\eb50";
}

.icon-issue:before {
    content: "\eb4f";
}

.icon-reallocate:before, .icon-re-allocate:before {
    content: "\eb77";
}

.icon-sync:before {
    content: "\e95d";
}

.icon-datastore:before {
    content: "\ead6";
}

.icon-rotate:before {
    content: "\eb7f";
}

.icon-draggable:before {
    content: "\eaec";
}

.icon-family-attachment:before {
    content: "\eafe";
}

.icon-family-attachment-filled:before {
    content: "\eafd";
}

.icon-bar:before {
    content: "\eb1b";
}

.icon-bubble:before {
    content: "\eb1c";
}

.icon-bubble-line:before {
    content: "\eb1d";
}

.icon-chart:before {
    content: "\eb1f";
}

.icon-column:before, .icon-column-chart:before {
    content: "\eb20";
}

.icon-funnel-chart:before {
    content: "\eb27";
}

.icon-gridbar:before {
    content: "\eb28";
}

.icon-index:before {
    content: "\eb2a";
}

.icon-line:before, .icon-linechart:before {
    content: "\eb2d";
}

.icon-pie-chart:before {
    content: "\eb6e";
}

.icon-scatter-line:before {
    content: "\eb3e";
}

.icon-summary-bar:before {
    content: "\eb3f";
}

.icon-timeline:before {
    content: "\eb43";
}


.icon-authore:before {
    content: "\eb1a";
}

.icon-info:before {
    content: "\eb4c";
}

.icon-info-unfill:before {
    content: "\eb2b";
}

.icon-execute:before {
    content: "\eaf5";
}

.icon-doc-compare:before {
    content: "\eae2";
}

.icon-lotus-extraction:before, .icon-action-extraction:before {
    content: "\eb2e";
}

.icon-ocr:before, .icon-action-ocr:before {
    content: "\eb30";
}

.icon-assign-custodian:before {
    content: "\eb17";
}


.icon-keyboard-shortcut:before {
    content: "\eb2c";
}

.icon-notes:before {
    content: "\eb2f";
}

.icon-system-field:before {
    content: "\eb40";
}

.icon-tag-field:before {
    content: "\eb41";
}

.icon-tag-issue:before, .icon-issue-field:before {
    content: "\eb42";
}

.icon-action-conversion:before, .icon-conversion-tag:before {
    content: "\ea8c";
}

.icon-assign-notes:before {
    content: "\eb18";
}

.icon-assign-production:before {
    content: "\eb19";
}

.icon-native-process:before {
    content: "\eb5e";
}

.icon-area:before {
    content: "\eaa1";
}

.icon-area-spline:before {
    content: "\eaa2";
}

.icon-donut:before {
    content: "\eae6";
}

.icon-spline:before {
    content: "\eb8f";
}

.icon-vertical-area:before {
    content: "\eba7";
}

.icon-vertical-line:before {
    content: "\eba8";
}

.icon-custom-field:before {
    content: "\eb21";
}

.icon-fields:before {
    content: "\ead3";
}

.icon-fields-filled:before {
    content: "\ead4";
}

.icon-unlocked:before {
    content: "\e973";
}

.icon-locked:before {
    content: "\e974";
}

.icon-report:before {
    content: "\e984";
}

.icon-caseterms:before {
    content: "\e9ac";
}

.icon-timeline-view:before {
    content: "\e9c5";
}

.icon-unitization:before {
    content: "\e9c6";
}

.icon-action-07-fill:before {
    content: "\e9c7";
}

.icon-case-chronology-fill:before {
    content: "\e9c8";
}

.icon-case-chronology:before {
    content: "\e9c9";
}

.icon-remove-item:before {
    content: "\e9e8";
}

/* ---app-icon--- */

.icon-action-01:before {
    content: "\e902";
}

.icon-action-02:before {
    content: "\e903";
}

.icon-action-03:before {
    content: "\e904";
}

.icon-action-04:before {
    content: "\e905";
}

.icon-action-05:before {
    content: "\e906";
}

.icon-action-06:before {
    content: "\e907";
}

.icon-action-07:before {
    content: "\e908";
}

.icon-action-08:before {
    content: "\e909";
}

.icon-action-09:before {
    content: "\e90a";
}

.icon-action-10:before {
    content: "\e90b";
}

.icon-action-11:before {
    content: "\e90c";
}

.icon-action-12:before {
    content: "\e90d";
}

.icon-action-13:before {
    content: "\e90e";
}

.icon-action-14:before {
    content: "\e90f";
}

.icon-content-01:before {
    content: "\e917";
}

.icon-content-02:before {
    content: "\e918";
}

.icon-content-03:before {
    content: "\e910";
}

.icon-content-04:before {
    content: "\e911";
}

.icon-content-05:before {
    content: "\e912";
}

.icon-content-06:before {
    content: "\e913";
}

.icon-content-07:before {
    content: "\e914";
}

.icon-content-08:before {
    content: "\e915";
}

.icon-content-09:before {
    content: "\e916";
}

.icon-database-01:before {
    content: "\e921";
}

.icon-database-02:before {
    content: "\e922";
}

.icon-database-03:before {
    content: "\e919";
}

.icon-database-04:before {
    content: "\e91a";
}

.icon-database-05:before {
    content: "\e91b";
}

.icon-database-06:before {
    content: "\e91c";
}

.icon-database-07:before {
    content: "\e91d";
}

.icon-database-08:before {
    content: "\e91e";
}

.icon-database-09:before {
    content: "\e91f";
}

.icon-database-10:before {
    content: "\e920";
}

.icon-device-01:before {
    content: "\e92f";
}

.icon-device-02:before {
    content: "\e923";
}

.icon-device-03:before {
    content: "\e924";
}

.icon-device-04:before {
    content: "\e925";
}

.icon-device-05:before {
    content: "\e926";
}

.icon-device-06:before {
    content: "\e927";
}

.icon-device-07:before {
    content: "\e928";
}

.icon-device-08:before {
    content: "\e929";
}

.icon-device-09:before {
    content: "\e92a";
}

.icon-device-10:before {
    content: "\e92b";
}

.icon-device-11:before {
    content: "\e92c";
}

.icon-device-12:before {
    content: "\e92d";
}

.icon-device-13:before {
    content: "\e92e";
}

.icon-file-01:before {
    content: "\e939";
}

.icon-file-02:before {
    content: "\e930";
}

.icon-file-03:before {
    content: "\e931";
}

.icon-file-04:before {
    content: "\e932";
}

.icon-file-05:before {
    content: "\e933";
}

.icon-file-06:before {
    content: "\e934";
}

.icon-file-07:before {
    content: "\e935";
}

.icon-file-08:before {
    content: "\e936";
}

.icon-file-09:before {
    content: "\e937";
}

.icon-file-10:before {
    content: "\e938";
}

.icon-hardware-01:before {
    content: "\e93a";
}

.icon-hardware-02:before {
    content: "\e93b";
}

.icon-hardware-03:before {
    content: "\e93c";
}

.icon-hardware-04:before {
    content: "\e93d";
}

.icon-hardware-05:before {
    content: "\e93e";
}

.icon-hardware-06:before {
    content: "\e93f";
}

.icon-hardware-07:before {
    content: "\e940";
}

.icon-hardware-08:before {
    content: "\e941";
}

.icon-hardware-09:before {
    content: "\e942";
}

.icon-hardware-10:before {
    content: "\e943";
}

.icon-hardware-11:before {
    content: "\e944";
}

.icon-hardware-12:before {
    content: "\e945";
}

.icon-other-01:before {
    content: "\e946";
}

.icon-other-02:before {
    content: "\e947";
}

.icon-other-03:before {
    content: "\e948";
}

.icon-other-04:before {
    content: "\e949";
}

.icon-other-05:before {
    content: "\e94a";
}

.icon-other-06:before {
    content: "\e94b";
}

.icon-other-07:before {
    content: "\e94c";
}

.icon-other-08:before {
    content: "\e94d";
}

.icon-other-09:before {
    content: "\e94e";
}

.icon-other-10:before {
    content: "\e94f";
}

.icon-other-12:before {
    content: "\e950";
}

.icon-other-13:before {
    content: "\e951";
}

.icon-other-14:before {
    content: "\e952";
}

.icon-other-15:before {
    content: "\e953";
}

.icon-other-16:before {
    content: "\e954";
}

.icon-other-17:before {
    content: "\e955";
}

.icon-production1-fill:before {
    content: "\eb76";
}

.icon-production1:before {
    content: "\eb73";
}

.icon-update:before {
    content: "\e95c";
}

.icon-restart:before {
    content: "\e960";
}

.icon-trace-off:before {
    content: "\e961";
}

.icon-trace-on:before {
    content: "\e962";
}

.icon-raw-file:before {
    content: "\e963";
}

.icon-not-applicable-doc:before {
    content: "\e964";
}

.icon-applicable-doc:before {
    content: "\e965";
}

.icon-support-help:before {
    content: "\e95e";
}

.icon-support-mail:before {
    content: "\e95f";
}

.icon-timeline-chart:before {
    content: "\e966";
}

.icon-reply-arrow:before {
    content: "\e96c";
}

.icon-forward-arrow:before {
    content: "\e968";
}

.icon-email-inclusive:before {
    content: "\e967";
}

.icon-parent-email:before {
    content: "\e96b";
}

.icon-maximize:before {
    content: "\e969";
}

.icon-minimize:before {
    content: "\e96a";
}

.icon-statistics-outline:before {
    content: "\e96d";
}

.icon-statistics-fill:before {
    content: "\e96e";
}

.icon-box-chart:before {
    content: "\e96f";
}

.icon-disable:before {
    content: "\e970";
}

.icon-file-conversion:before {
    content: "\e971";
}

.icon-reassign:before {
    content: "\e972";
}

.icon-organization:before {
    content: "\e975";
}

.icon-assign-role:before {
    content: "\e976";
}

.icon-entity:before {
    content: "\e977";
}

.icon-entity-fill:before {
    content: "\e978";
}

.icon-agentinfooff:before {
    content: "\e979";
}

.icon-agentinfoon:before {
    content: "\e97a";
}

.icon-restore-tag-issue:before {
    content: "\e97b";
}

.icon-work-product:before {
    content: "\e97c";
}

.icon-work-product-fill:before {
    content: "\e97d";
}

.icon-export-doc:before {
    content: "\e97e";
}

.icon-prepare-production:before {
    content: "\e97f";
}

.icon-querygroup:before {
    content: "\e980";
}

.icon-family-search:before {
    content: "\e981";
}

.icon-adv-card-view:before {
    content: "\e982";
}

.icon-reset-dual-auth:before {
    content: "\e983";
}

.icon-deleted-doc:before {
    content: "\e985";
}

.icon-deleted-doc-fill:before {
    content: "\e986";
}

.icon-max-screen:before {
    content: "\e987";
}

.icon-min-screen:before {
    content: "\e988";
}

.icon-bulk-folder-create:before {
    content: "\e989";
}

.icon-data-sorting:before {
    content: "\e98c";
}

.icon-accept-batch:before {
    content: "\e98d";
}

.icon-accepted-batch:before {
    content: "\e98e";
}

.icon-undock:before {
    content: "\e98f";
}

.icon-dock:before {
    content: "\e990";
}

.icon-topic-cluster-fill:before {
    content: "\e991";
}

.icon-topic-cluster-unfilled:before {
    content: "\e992";
}

.icon-compare:before {
    content: "\e98a";
}

.icon-data-archive:before {
    content: "\e98b";
}

.icon-selective-zoom:before {
    content: "\e993";
}

.icon-import-docs:before {
    content: "\e994";
}

.icon-manual-file-conversion:before {
    content: "\e996";
}

.icon-arrow-top:before {
    content: "\e997";
}

.icon-arrow-bottom:before {
    content: "\e998";
}

.icon-flag:before {
    content: "\e999";
}

.icon-flag-fill:before {
    content: "\e99a";
}

.icon-link1:before {
    content: "\e99b";
}


.icon-close-circle:before {
    content: "\e99d";
}

.icon-right-circle:before {
    content: "\e99e";
}

.icon-broadcast:before {
    content: "\e99f";
}

.icon-file-size:before {
    content: "\e99c";
}

.icon-magnifier:before {
    content: "\e9a0";
}

.icon-previous-page:before {
    content: "\e9a1";
}

.icon-redo:before {
    content: "\e9a2";
}

.icon-undo:before {
    content: "\e9a3";
}

.icon-disclaimer:before {
    content: "\e9a4";
}

.icon-processed-data-import:before {
    content: "\e9a5";
}

.icon-processed-data-import-filled:before {
    content: "\e9a6";
}

.icon-split:before {
    content: "\e9a7";
}

.icon-manage-zip:before {
    content: "\e9a8";
}

.icon-fill-color:before {
    content: "\e9aa";
}

.icon-fore-color:before {
    content: "\e9ab";
}

.icon-reorder-fields:before {
    content: "\e9b3";
}

.icon-thumbnail:before {
    content: "\e9b0";
}

.icon-thumbnail-fill:before {
    content: "\e9ad";
}

.icon-annotation-list:before {
    content: "\e9ae";
}

.icon-annotation-list-fill:before {
    content: "\e9af";
}

.icon-unassign-organization:before {
    content: "\e9b1";
}

.icon-unassign-workspace:before {
    content: "\e9b2";
}

.icon-invite-user:before {
    content: "\e9b4";
}

.icon-hide-tooltip:before {
    content: "\e9ca";
}

.icon-show-tooltip:before {
    content: "\e9cb";
}


.icon-timer-start:before {
    content: "\e9d0";
}

.icon-timer-stop:before {
    content: "\e9d1";
}

.icon-academy:before {
    content: "\e9d2";
}

.icon-attach-file:before {
    content: "\e9cc";
}

.icon-load-translation-file:before {
    content: "\e9d3";
}

.icon-image-file:before {
    content: "\e9d4";
}

.icon-re-index:before {
    content: "\e9d6";
}

.icon-Case-Transcript-fill:before {
    content: "\e9cd";
}

.icon-Case-Transcript:before {
    content: "\e9ce";
}

.icon-pivot-view:before {
    content: "\e9d5";
}

.icon-color-configuration:before {
    content: "\e9d7";
}

.icon-manage-custodian:before {
    content: "\e9d8";
}

.icon-no-editable:before {
    content: "\e9da";
}

.icon-report-static:before {
    content: "\e9db";
}

.icon-report-admin:before {
    content: "\e9dc";
}

.icon-report-admin-fill:before {
    content: "\e9dd";
}

.icon-assign-matter:before {
    content: "\e9de";
}

.icon-redaction-overlay:before {
    content: "\e9df";
}

.icon-map:before {
    content: "\e9b5";
}

.icon-search-criteria-unfill:before {
    content: "\e9b6";
}

.icon-split-data:before {
    content: "\e9b7";
}

.icon-sync-data:before {
    content: "\e9b8";
}

.icon-transfer-data:before {
    content: "\e9b9";
}

.icon-view-fill:before {
    content: "\e9ba";
}

.icon-view-unfill:before {
    content: "\e9bb";
}

.icon-Ws-data-transder-pattern:before {
    content: "\e9bc";
}

.icon-coding-template-fill:before {
    content: "\e9bd";
}

.icon-coding-template-unfill:before {
    content: "\e9be";
}

.icon-path:before {
    content: "\e9bf";
}

.icon-phase-fill:before {
    content: "\e9c0";
}

.icon-phase-unfill:before {
    content: "\e9c1";
}

.icon-rules-fill:before {
    content: "\e9c2";
}

.icon-rules-unfill:before {
    content: "\e9c3";
}

.icon-search-criteria-fill:before {
    content: "\e9c4";
}

.icon-name-normalization:before {
    content: "\e9e2";
}

.icon-bulk-coding:before {
    content: "\e9e4";
}

.icon-name-normalization-fill:before {
    content: "\e9e3";
}

.icon-audio-video-transcript:before {
    content: "\e9cf";
}

.icon-calendar-time:before {
    content: "\e9e1";
}

.icon-change-auth:before {
    content: "\e9e5";
}

.icon-line-annotation:before {
    content: "\e9e6";
}

.icon-import-data:before {
    content: "\e9e7";
}

.icon-link-attachment:before {
    content: "\e9eb";
}

.icon-link-attachment-filled:before {
    content: "\e9e9";
}

.icon-media-filled:before {
    content: "\e9ea";
}

.icon-manage-notification:before {
    content: "\e9ec";
}

.icon-Data-store:before {
    content: "\e9ed";
}

.icon-doc-copy:before {
    content: "\e9ee";
}

.icon-fact:before {
    content: "\e9ef";
}

.icon-object:before {
    content: "\e9f0";
}

.icon-stopwatch:before {
    content: "\e9f1";
}

.icon-comment-notes:before {
    content: "\e9f2";
}

.icon-comment-notes-filled:before {
    content: "\e9f3";
}

.icon-tour:before {
    content: "\e9f4";
}

.icon-taskboard:before {
    content: "\e9f5";
}

.icon-gallery:before {
    content: "\e9ff";
}

.icon-chat-document:before {
    content: "\e9fe";
}

.icon-chat-contact:before {
    content: "\e9fd";
}

.icon-camera:before {
    content: "\e9fc";
}

.icon-call:before {
    content: "\e9fb";
}

.icon-chat-audio-file:before {
    content: "\e9fa";
}

.icon-mute:before {
    content: "\e9f9";
}

.icon-missed-call:before {
    content: "\e9f8";
}

.icon-microphone-mute:before {
    content: "\e9f7";
}

.icon-map-location:before {
    content: "\e9f6";
}

.icon-sampling-filled:before {
    content: "\ea00";
}

.icon-shared:before {
    content: "\ea01";
}

.icon-pre-release:before {
    content: "\ea02";
}

.icon-release:before {
    content: "\ea03";
}

.icon-polygon:before {
    content: "\ea04";
}

.icon-setpoorder:before {
    content: "\ea05";
}

.icon-add-term:before {
    content: "\ea06";
}

.icon-sorting-column:before {
    content: "\ea07";
}

.icon-plus-round:before {
    content: "\ea08";
}

.icon-csv:before {
    content: "\ea09";
}

.icon-dat:before {
    content: "\ea0a";
}

.icon-clone-criteria:before {
    content: "\ea0b";
}

.icon-disable-sync:before {
    content: "\ea0c";
}

.icon-enable-sync:before {
    content: "\ea0d";
}

.icon-not-applicable:before {
    content: "\ea0e";
}

.icon-idea:before {
    content: "\ea0f";
}

.icon-library:before {
    content: "\ea10";
}

.icon-location:before {
    content: "\ea11";
}

.icon-message-setting:before {
    content: "\ea12";
}

.icon-message:before {
    content: "\ea13";
}

.icon-phone:before {
    content: "\ea14";
}

.icon-recording:before {
    content: "\ea15";
}

.icon-file-search:before {
    content: "\ea16";
}

.icon-selection:before {
    content: "\ea17";
}

.icon-settings-gear:before {
    content: "\ea18";
}

.icon-manage-organization:before {
    content: "\ea19";
}

.icon-no-filter:before {
    content: "\ea1a";
}

.icon-no-sortable:before {
    content: "\ea1b";
}

.icon-email-subscription:before {
    content: "\ea1c";
}

.icon-change-ownership:before {
    content: "\ea1d";
}

.icon-sort-order:before {
    content: "\ea1e";
}

.icon-trigger-based-workflow:before {
    content: "\ea1f";
}

.icon-scroll-more:before {
    content: "\ea20";
}

.icon-trigger:before {
    content: "\ea21";
}

.icon-saved-result:before {
    content: "\ea22";
}

.icon-add-folder:before {
    content: "\ea23";
}

.icon-notification-new:before {
    content: "\ea25";
}

.icon-app-hub:before {
    content: "\ea24";
}

.icon-compressed-file:before {
    content: "\ea26";
}

.icon-spreadsheet-con:before {
    content: "\ea43";
}

.icon-single-page:before {
    content: "\ea42";
}

.icon-multi-page:before {
    content: "\ea3c";
}

.icon-action-store-page:before {
    content: "\ea27";
}

.icon-admin-page:before {
    content: "\ea28";
}

.icon-app-hub-page:before {
    content: "\ea29";
}

.icon-apps-page:before {
    content: "\ea2a";
}

.icon-associated-actions-page:before {
    content: "\ea2b";
}

.icon-batch-pages-page:before {
    content: "\ea2c";
}

.icon-cloud-apps-page:before {
    content: "\ea2d";
}

.icon-cloud-types-page:before {
    content: "\ea2e";
}

.icon-dashboard-page:before {
    content: "\ea2f";
}

.icon-default-page:before {
    content: "\ea30";
}

.icon-file-mime-types-page:before {
    content: "\ea31";
}

.icon-file-types-page:before {
    content: "\ea32";
}

.icon-forms-page:before {
    content: "\ea33";
}

.icon-home-page:before {
    content: "\ea34";
}

.icon-job-batches-page:before {
    content: "\ea35";
}

.icon-job-documents-page:before {
    content: "\ea36";
}

.icon-job-request-dashboard-page:before {
    content: "\ea37";
}

.icon-job-request-live-status-page:before {
    content: "\ea38";
}

.icon-job-requests-page:before {
    content: "\ea39";
}

.icon-jobs-page:before {
    content: "\ea3a";
}

.icon-logs-page:before {
    content: "\ea3b";
}



.icon-query-page:before {
    content: "\ea3d";
}

.icon-resource-management-page:before {
    content: "\ea3e";
}

.icon-search-profiles-page:before {
    content: "\ea3f";
}

.icon-sequence-page:before {
    content: "\ea40";
}

.icon-settings-page:before {
    content: "\ea41";
}



.icon-table-page:before {
    content: "\ea44";
}

.icon-table-relations-page:before {
    content: "\ea45";
}

.icon-views-page:before {
    content: "\ea46";
}

.icon-webpages-page:before {
    content: "\ea47";
}

.icon-agent-page:before {
    content: "\ea48";
}

.icon-billing-data-page:before {
    content: "\ea49";
}

.icon-chrun-zero-page:before {
    content: "\ea4a";
}

.icon-collection-tracking-page:before {
    content: "\ea4b";
}

.icon-console-page:before {
    content: "\ea4c";
}

.icon-contacts-page:before {
    content: "\ea4d";
}

.icon-custodians-page:before {
    content: "\ea4e";
}

.icon-data-source-page:before {
    content: "\ea4f";
}

.icon-entity-page:before {
    content: "\ea50";
}

.icon-enum-pages:before {
    content: "\ea51";
}

.icon-hold-admin-page:before {
    content: "\ea52";
}

.icon-interviews-page:before {
    content: "\ea53";
}

.icon-jurisdictions-page:before {
    content: "\ea54";
}

.icon-legal-holds-page:before {
    content: "\ea55";
}

.icon-matters-page:before {
    content: "\ea56";
}

.icon-multi-matter-page:before {
    content: "\ea57";
}

.icon-task-scheduler-page:before {
    content: "\ea58";
}

.icon-analytics-page:before {
    content: "\ea59";
}

.icon-tools-page:before {
    content: "\ea5a";
}

.icon-folder-page:before {
    content: "\ea5b";
}

.icon-productions-page:before {
    content: "\ea5c";
}

.icon-search-criteria-page:before {
    content: "\ea5d";
}

.icon-similar-page:before {
    content: "\ea5e";
}

.icon-unitization-page:before {
    content: "\ea5f";
}

.icon-work-product-page:before {
    content: "\ea60";
}

.icon-case-summary-page:before {
    content: "\ea61";
}

.icon-dataset-page:before {
    content: "\ea62";
}

.icon-duplicate-page:before {
    content: "\ea63";
}

.icon-email-con-page:before {
    content: "\ea64";
}

.icon-family-page:before {
    content: "\ea65";
}

.icon-resend:before {
    content: "\ea66";
}

.icon-revoke:before {
    content: "\ea67";
}

.icon-cd-drive:before {
    content: "\ea68";
}

.icon-hard-drive:before {
    content: "\ea69";
}

.icon-pendrive:before {
    content: "\ea6a";
}

.icon-add-redaction:before {
    content: "\ea6b";
}

.icon-delete-redaction:before {
    content: "\ea6c";
}

.icon-add-custodian:before {
    content: "\ea6d";
}

.icon-cloud-default:before {
    content: "\ea6e";
}

.icon-non-cloud:before {
    content: "\ea6f";
}

.icon-sync-org:before {
    content: "\ea70";
}

.icon-roll-back:before {
    content: "\ea71";
}

.icon-sync-workspace:before {
    content: "\ea72";
}

.icon-datasite-files:before {
    content: "\ea73";
}

.icon-clock-new:before {
  content: "\ea74";
}

.icon-clock-stop:before {
  content: "\ea75";
}

.icon-request-task:before {
  content: "\ea76";
}

.icon-bulk-update:before {
  content: "\ea77";
}

.icon-bulk-import:before {
  content: "\ea78";
}

.icon-volume:before {
  content: "\ea79";
}
